<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Add new Product</title>
</head>
<body>

<form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
    <table>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Type</th>
            <th>Product Price</th>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
            <td>
                <textarea  th:field="*{description}" rows="10" cols="30">
                     Product description.
                 </textarea>
            </td>
            <td>
                <select name="type" th:field="*{type}">
                    <th:block th:each="type : ${type}" >
                        <option th:value="${type.type}" th:text="${type.type}"></option>
                    </th:block>
                </select>
            </td>
            <td>
                <input type="number" step="0.01" min="0" th:field="*{price}"/>
             </td>
        </tr>

        <tr>
            <td colspan="4">
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>


</body>
</html>