<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>CheckOut</title>
</head>
<body>

    <h1>Checkout:</h1>
    <h2>Order Summary:</h2>

<table>
    <tr>
        <td></td>
        <td>Product name</td>
        <td>Product price</td>
        <td>Discount value</td>
    </tr>
    <th:block th:each="product , index: ${shopOrder.cart.productList}">
    <tr>
        <td><span th:text="${index.index}+1"></span></td>
        <td><span th:text="${product.name}"></span></td>
        <td><span th:text="${product.price}"></span></td>
        <td><span th:text="${product.discountValue}"></span></td>
    </tr>
    </th:block>
    <tr>
        <td>Discount</td>
        <td colspan="2">
            <span th:text="${shopOrder.discount}"></span>
        </td>
    </tr>
    <tr><td colspan="3"></td></tr>
    <tr>
        <td>Order value</td>
        <td colspan="2">
            <span th:text="${shopOrder.orderValue}"></span>
        </td>
    </tr>

</table>

<a href="/home">Return to main page</a>

</body>
</html>