<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Shop</title>
</head>
<body>

<h2>Product List:</h2>
<form action="#" th:action="@{/addToCart}" th:object="${shopOrder}" method="post">


    <input type="hidden" th:field="${shopOrder.orderDTO.cart.cartValue}" th:value="${shopOrder.orderDTO.orderValue}"/>
    <input type="hidden" th:field="${shopOrder.orderDTO.discount}" th:value="${shopOrder.orderDTO.discount}"/>

    <th:block th:each="cart, index : ${shopOrder.orderDTO.cart.productList}">
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"/>
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"/>
    </th:block>

    <table>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>

        </tr>
        <th:block th:each="product: ${products}">
            <tr>

                <td>
                    <input type="radio" name="product" th:field="${shopOrder.var}"
                           th:value="${product.productId}"/>
                </td>
                <td>
                    <span th:text="${product.name}"></span>
                </td>
                <td>
                    <span th:text="${product.description}"></span>
                </td>
                <td>
                    <span th:text="${product.price}"></span>
                </td>
            </tr>
        </th:block>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add to cart"/>
            </td>
        </tr>
    </table>
</form>

<h2>Cart:</h2>

<form action="#" th:action="@{/removeFromCart}" th:object="${shopOrder}" method="post">
    <input type="hidden" th:field="${shopOrder.orderDTO.cart.cartValue}" th:value="${shopOrder.orderDTO.orderValue}"/>
    <input type="hidden" th:field="${shopOrder.orderDTO.discount}" th:value="${shopOrder.orderDTO.discount}"/>

    <th:block th:each="cart, index : ${shopOrder.orderDTO.cart.productList}">
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"/>
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"/>
    </th:block>

    <table>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Product Price</th>

        </tr>
        <th:block th:each="product: ${cart}">
            <tr>
                <td>
                    <input type="radio" name="product" th:field="${shopOrder.var}"
                           th:value="${product.productId}"/>
                </td>
                <td>
                    <span th:text="${product.name}"></span>
                </td>
                <td>
                    <span th:text="${product.price}"></span>
                </td>
            </tr>
        </th:block>
        <tr>
            <td>
                Cart value
            </td>
            <td>
                <span th:text="${shopOrder.orderDTO.cart.cartValue}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Remove form Cart"/>
            </td>
        </tr>
    </table>
</form>

<h2>Discount:</h2>
<form action="#" th:action="@{/addDiscount}" th:object="${shopOrder}" method="post">
    <input type="hidden" th:field="${shopOrder.orderDTO.cart.cartValue}" th:value="${shopOrder.orderDTO.orderValue}"/>


    <th:block th:each="cart, index : ${shopOrder.orderDTO.cart.productList}">
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"/>
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"/>
    </th:block>

    <table>
        <tr>
            <td>
                <span th:text="${shopOrder.orderDTO.discount}"></span>
            </td>
        </tr>
        <tr>
            <th>Add discount</th>
        </tr>
        <tr>
            <td>
                <input type="number" min="0" step="0.01" th:field="${shopOrder.var}"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Add discount"/>
            </td>
        </tr>
    </table>
</form>


<h2>Place Order:</h2>
<form action="#" th:action="@{/placeOrder}" th:object="${shopOrder}" method="post">
    <input type="hidden" th:field="${shopOrder.orderDTO.cart.cartValue}" th:value="${shopOrder.orderDTO.orderValue}"/>
    <input type="hidden" th:field="${shopOrder.orderDTO.discount}" th:value="${shopOrder.orderDTO.discount}"/>

    <th:block th:each="cart, index : ${shopOrder.orderDTO.cart.productList}">
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].productId}"/>
        <input type="hidden" th:field="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"
               th:value="${shopOrder.orderDTO.cart.productList[__${index.index}__].price}"/>
    </th:block>
    <input type="submit" value="Place Order"/>

</form>

</body>
</html>