<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>List of Products</title>
</head>
<body>

<table>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>

    </tr>
    <th:block th:each="product: ${products}">
        <tr>
            <td>
                <span th:text="${product.name}"></span>
            </td>
            <td>
                <span th:text="${product.description}"></span>
            </td>
            <td>
                <span th:text="${product.price}"></span>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>