<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Shop</title>
</head>
<body>

<h2>Product List:</h2>
<form action="#" th:action="@{/addToCart}" th:object="${shopOrder}" method="post">
        <table>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>

        </tr>
        <th:block th:each="product: ${products}">
            <tr>

                <td>
                    <input type="radio" name="product" th:field="${shopOrder.var}"
                           th:value="${product.productId}"/>
                </td>
                <td>
                    <span th:text="${product.name}"></span>
                </td>
                <td>
                    <span th:text="${product.description}"></span>
                </td>
                <td>
                    <span th:text="${product.price}"></span>
                </td>
            </tr>
        </th:block>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add to cart"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>