<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>

    <span th:text="${shopOrder}"></span>

</head>
<body>

</body>
</html>